<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Course List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Course List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input
    label="Course"
    label-placement="floating"
    placeholder="Enter text"
  ></ion-input>
  <ion-input
    label="Rating 1-10"
    labelPlacement="floating"
    placeholder="Enter text"
  ></ion-input>
  <ion-button>Submit</ion-button>
</ion-content>
